1. Importaci칩n de paquetes y web scraping de OLX Colombia.

In [268]:
import requests
import pandas as pd
headers = {
    'user_agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.149 Safari/537.36'
}

carros_totales = []
for i in range(0, 20):
    url_api = "https://www.olx.com.co/api/relevance/v2/search?category=378&facet_limit=100&location=1000001&location_facet_limit=20&platform=web-desktop&size=40&user=17f0f5ce4eax7b0e8478&page=" + str(i)
    response = requests.get(url_api, headers = headers)
    data = response.json()
    
    autos = data["data"]
    for auto in autos:
        carros_totales.append(auto)

df = pd.DataFrame(carros_totales)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    500 non-null    object
 1   score                 500 non-null    float64
 2   spell                 500 non-null    object
 3   status                500 non-null    object
 4   category_id           500 non-null    object
 5   favorites             500 non-null    object
 6   has_phone_param       500 non-null    bool
 7   description           500 non-null    object
 8   created_at            500 non-null    object
 9   inspection_info       0 non-null      object
 10  title                 500 non-null    object
 11  partner_id            0 non-null      object
 12  user_type             500 non-null    object
 13  price                 500 non-null    object
 14  partner_code          0 non-null      object
 15  monetizationInfo      12 non-null     object
 16  images                500 non-null    object
 17  certified_car         500 non-null    bool
 18  package               116 non-null    object
 19  is_kyc_verified_user  500 non-null    bool
 20  locations_resolved    500 non-null    object
 21  deal_price            0 non-null      float64
 22  main_info             499 non-null    object
 23  display_date          500 non-null    object
 24  user_id               500 non-null    object
 25  installment           0 non-null      float64
 26  created_at_first      500 non-null    object
 27  locations             500 non-null    object
 28  parameters            500 non-null    object
 29  package_id            0 non-null      float64
dtypes: bool(3), float64(4), object(23)
memory usage: 107.1+ KB

2. Informaci칩n general de los tipos de datos de las columnas.

In [272]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    500 non-null    object
 1   score                 500 non-null    float64
 2   spell                 500 non-null    object
 3   status                500 non-null    object
 4   category_id           500 non-null    object
 5   favorites             500 non-null    object
 6   has_phone_param       500 non-null    bool
 7   description           500 non-null    object
 8   created_at            500 non-null    object
 9   inspection_info       0 non-null      object
 10  title                 500 non-null    object
 11  partner_id            0 non-null      object
 12  user_type             500 non-null    object
 13  price                 500 non-null    object
 14  partner_code          0 non-null      object
 15  monetizationInfo      12 non-null     object
 16  images                500 non-null    object
 17  certified_car         500 non-null    bool
 18  package               116 non-null    object
 19  is_kyc_verified_user  500 non-null    bool
 20  locations_resolved    500 non-null    object
 21  deal_price            0 non-null      float64
 22  main_info             499 non-null    object
 23  display_date          500 non-null    object
 24  user_id               500 non-null    object
 25  installment           0 non-null      float64
 26  created_at_first      500 non-null    object
 27  locations             500 non-null    object
 28  parameters            500 non-null    object
 29  package_id            0 non-null      float64
dtypes: bool(3), float64(4), object(23)
memory usage: 107.1+ KB

3. Eliminaci칩n de las columnas sobrantes.

In [342]:
#columnas eliminadas por datos nulos o faltantes e irrelevantes.
del df["locations_resolved"]
""" 
del df["partner_code"]
del df["monetizationInfo"]
del df["package"]
del df["deal_price"]
del df["installment"]
del df["package_id"]
#Columnas que no aportan en nada al modelo.
del df["spell"]
del df["status"]
del df["category_id"]
del df["favorites"]
del df["has_phone_param"]
del df["created_at"]
del df["user_type"]
del df["certified_car"]
del df["is_kyc_verified_user"]
del df["display_date"]
del df["user_id"]
del df["created_at_first"]
del df["locations"]
"""

' \ndel df["partner_code"]\ndel df["monetizationInfo"]\ndel df["package"]\ndel df["deal_price"]\ndel df["installment"]\ndel df["package_id"]\n#Columnas que no aportan en nada al modelo.\ndel df["spell"]\ndel df["status"]\ndel df["category_id"]\ndel df["favorites"]\ndel df["has_phone_param"]\ndel df["created_at"]\ndel df["user_type"]\ndel df["certified_car"]\ndel df["is_kyc_verified_user"]\ndel df["display_date"]\ndel df["user_id"]\ndel df["created_at_first"]\ndel df["locations"]\n'

4. Estructura del Dataframe inicial.

In [740]:
df

,id,score,description,title,price,images,parameters,Marca,Model,a침os,kilometraje,condicion,Combustible,Color,Transmision,Puertas
0,1109806284,1.000,Vencambio Renault alaskan 2019 refull turbo di...,Vencambio Renault alaskan 2019 refull turbo di...,$ 119.900.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",RENAULT,ALASKAN,2019,55000,Usado,Diesel,Blanco,Mec치nica,5
1,1114606689,0.998,"Veh칤culo listo para traspasos, con entrega inm...",Renault Duster dynamique 2014 autom치tico,$ 45.900.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",RENAULT,DUSTER,2014,88000,Usado,Gasolina,Blanco,Autom치tica,5
2,1114417052,0.996,"Full equipo,documentos al dia,con peritaje de ...",Kia Rio stylus 2015 damos cr칠dito cuotas de $5...,$ 6.000.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",KIA,Stylus,Otros a침os,120000,Usado,Otra condicion,Otro color,Otro transmision,Otro valor
3,1114635309,0.994,M치s sobre el veh칤culo:\nEn OLX Autos compras v...,MERCEDES BENZ A 200 V177 Sport Sedan TP 1.3L T...,$ 115.500.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",MERCEDES BENZ,A 200,Otros a침os,21980,Usado,Gasolina,Plateado,Mec치nica,4
4,1114809715,0.992,Totalmente original,Como nuevo,$ 55.000.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",MAZDA,2 HATCHBACK,Otros a침os,67000,Usado,Gasolina,Blanco,Autom치tica Secuencial,Otro valor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1114321799,0.010,BOYACARS la tienda del usado\n\n- Excelente es...,Ford Edge 2014 Limited Como nueva,$ 74.000.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",FORD,EDGE,Otros a침os,73000,Usado,Gasolina,Gris,Autom치tica Secuencial,5
496,1114380850,0.008,BOYACARS la tienda del usado\n\n- Excelente es...,KIA RIO STYLUS 2015 1.5 AIRE ACONDICIONADO DIR...,$ 28.000.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",KIA,Stylus,Otros a침os,59000,Usado,Gasolina,Plateado,Mec치nica,4
497,1114380994,0.006,BOYACARS la tienda del usado\n\n- Excelente es...,FORD EXPLORER LIMITED COMO NUEVA PERFECTA,$ 132.000.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",FORD,EXPLORER,Otros a침os,51000,Usado,Gasolina,Plateado,Autom치tica Secuencial,5
498,1113627801,0.004,Renault Sandero stepway 2012 - 칔nico due침o - s...,Vendo Renault Sandero stepway,$ 27.000.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",RENAULT,STEPWAY,2012,95000,Usado,Gasolina,Negro,Mec치nica,4
499,1114381129,0.002,BOYACARS la tienda del usado\n\n- Excelente es...,KIA PICANTO MT ZENITH 칔NICO DUE칌O COMO NUEVO,$ 54.000.000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",KIA,PICANTO,Otros a침os,13000,Usado,Gasolina,Blanco,Mec치nica,5

5. Manipulaci칩n de diccionarios dentro de los registros de las filas del Dataframe y limpieza de datos en cada registro.

In [ ]:
marca = []
for i in range(0, len(df)):
    marca.append(df["parameters"][i][0]["value_name"])

df["Marca"] = marca

In [656]:
modelo = []
for i in range(0, len(df)):
    try:
        modelo.append(df["parameters"][i][1].get("value_name"))
    except:
        modelo.append("Otros Modelos")

df["Model"] = modelo
modelo

['ALASKAN',
 'DUSTER',
 'Stylus',
 'A 200',
 '2 HATCHBACK',
 'FORTUNER',
 'SAIL',
 'TUCSON',
 'TUCSON',
 'CAPTUR',
 'JETTA',
 'DUSTER',
 'SANDERO',
 'CARENS',
 'TWINGO',
 'D21',
 'CLIO',
 'LOGAN',
 'CERATO FORTE SEDAN',
 '3',
 'CAPTUR',
 '318i',
 'Land Cruiser Prado',
 'LOGAN',
 'ALASKAN',
 'A 250',
 '405 SEDAN',
 'TWINGO',
 'OPTRA SEDAN',
 'JETTA',
 'JOURNEY',
 'I25 ACCENT',
 'SAIL HATCHBACK',
 'SANDERO',
 'SENTRA',
 'FIESTA SEDAN',
 'RAV4',
 'GRAND VITARA',
 'OPTRA SEDAN',
 'D21',
 'TRACKER',
 'Stylus',
 'CERATO PRO SEDAN',
 'LOGAN',
 'Spark GT',
 'EDGE',
 'CLIO',
 'CLIO',
 'X3',
 'TWINGO',
 'PICANTO',
 '121',
 'DUSTER',
 'GRAND VITARA',
 'TWINGO',
 'CX5',
 'SANDERO',
 'PREGIO',
 'LOGAN',
 'Mazda 3',
 '207',
 'FORESTER',
 'PICANTO',
 'GOL',
 'FREEDOM',
 'ESCAPE',
 'RIO SEDAN',
 'GETZ',
 'KWID',
 'Otros Modelos',
 'ESCAPE',
 'BEAT',
 'Mazda 2',
 'I25 ACCENT',
 'CIELO',
 'LUV',
 'ESTEEM',
 '2 HATCHBACK',
 'Spark GT',
 'LUV',
 'DUSTER OROCH',
 'VERSA',
 'RIO',
 'AVEO',
 'KOLEOS',
 'PICANTO',
 'HILUX',
 'AVEO SEDAN',
 'PICANTO',
 'SWIFT',
 'CORSA',
 'AVEO',
 'ALTO',
 'JOURNEY',
 'HILUX',
 'FORTUNER',
 'SAIL SEDAN',
 'RAV4',
 'Spark GT',
 'FORTUNER',
 'CS35',
 'LOGAN',
 'CX5',
 'EON',
 'PRADO',
 'SAIL',
 'SPARK',
 'CLIO',
 'TWINGO',
 'ACCENT',
 'CS15',
 'i10',
 'Spark GT',
 'Spark GT',
 'DUSTER',
 'I25 ACCENT',
 'ALTO',
 '2 HATCHBACK',
 'FIESTA HATCHBACK',
 'Spark GT',
 'GLA 45',
 'MARCH',
 'FRONTIER',
 'i10',
 'RIO SEDAN',
 'MARCH',
 'BEAT',
 'DUSTER',
 'RIO',
 'DUSTER',
 '3',
 'SENTRA',
 'LOGAN',
 'RIO SEDAN',
 'VITARA',
 'GRAND VITARA',
 'Spark GT',
 'LOGAN',
 'SWIFT',
 'RIO SEDAN',
 'SAIL SEDAN',
 'C 180',
 'COROLLA',
 'KICKS',
 'D21',
 'MARCH',
 'SIENA',
 'ONIX HATCHBACK',
 'VERACRUZ',
 '306 SEDAN',
 'MONTERO',
 'JOURNEY',
 'LANOS',
 'AVEO SEDAN',
 'LOGAN',
 'ONIX HATCHBACK',
 'KWID',
 'SPARK',
 'CX30',
 'VERSA',
 'DUSTER',
 'Otros Modelos',
 'N300',
 'Clase CLA',
 'POLO',
 'MARCH',
 'SONIC',
 'PICANTO',
 'SYMBOL',
 'Mazda 3',
 'SAIL SEDAN',
 'FIESTA HATCHBACK',
 'KICKS',
 'SYMBOL FI',
 'ATOS',
 'SANDERO',
 'X-TRAIL',
 'LOGAN',
 '3',
 'Spark GT',
 'SANDERO',
 'Spark GT',
 'CAPTUR',
 'FUSION',
 'SENTRA',
 'KICKS',
 'SPARK',
 'SPORTAGE',
 'WRV',
 'JETTA',
 'SPARK',
 'STEPWAY',
 'CORSA',
 'VITARA',
 'LOGAN',
 'FIESTA SEDAN',
 'TUCSON',
 'TWINGO',
 'FJ CRUISER',
 'RIO HATCHBACK',
 'SPORTAGE',
 'Otros Modelos',
 'SAIL SEDAN',
 'ESCAPE',
 'Spark GT',
 'Spark GT',
 'SONIC SEDAN',
 'CERATO PRO SEDAN',
 'COBALT',
 'BEAT',
 'KOLEOS',
 'FJ',
 'VAN CARGA',
 'ECOSPORT',
 'Otros Modelos',
 'FIESTA HATCHBACK',
 'COROLLA',
 'S-CROSS',
 'PRADO',
 'SPORTAGE',
 'MOBI',
 'CERATO PRO SEDAN',
 '2 SEDAN',
 'AVEO EMOTION',
 'PICANTO',
 'BT50',
 'ML 350',
 'KWID',
 'VOYAGE',
 'CRUZE SEDAN',
 'R9',
 'LUV',
 '4RUNNER',
 'New Sportage',
 'ESCAPE',
 'SPARK',
 'FJ',
 'ACCENT',
 'CERATO FORTE SEDAN',
 '3 HATCHBACK',
 'KANGOO',
 'SPORTAGE',
 'ESCAPE',
 'RIO HATCHBACK',
 'VAN PLUS CARGO',
 'FRONTIER',
 'Mazda 3',
 'MINYI',
 'FIESTA SEDAN',
 'JETTA',
 'HILUX',
 'ONIX',
 'ELANTRA',
 'DUSTER',
 'GLC 250',
 'Otros Modelos',
 'SPARK',
 'CRUZE',
 'CX5',
 'PICANTO',
 'SANDERO',
 'CX5',
 'SANDERO',
 'SANDERO',
 'ERTIGA',
 'COROLLA',
 'RANGE ROVER EVOQUE',
 'CX5',
 'Spark GT',
 'QQ 308',
 'OPTRA',
 'R12',
 'BLAZER',
 'SANDERO',
 'Spark GT',
 '3 SEDAN',
 'SANDERO',
 'TUCSON',
 'FRONTIER',
 'AVEO SEDAN',
 'VERSA',
 'MONTERO WAGON',
 'AVEO EMOTION SEDAN',
 'TONIC',
 'ASX',
 'JIMNY',
 'SOUL',
 'ZAFIRA',
 'Otros Modelos',
 'GRAND VITARA',
 'DUSTER',
 'SAMURAI',
 'PICANTO',
 'AVEO',
 'CLIO',
 '2',
 'CX3',
 'FRONTIER',
 'SPARK',
 'AVEO',
 'BEETLE',
 '2 HATCHBACK',
 'A 200',
 'Otros Modelos',
 'QASHQAI',
 '2',
 'ESTEEM',
 'MARCH',
 'KWID',
 'TRACKER',
 'SAIL',
 'Spark GT',
 'LOGAN',
 'RUIYI',
 'ONIX',
 'TUCSON',
 'X3',
 'VERSA',
 'SPARK',
 'Mazda 6',
 'JOURNEY',
 'MONTERO',
 'STEPWAY',
 'PRADO',
 '3',
 'LUV',
 'LASER',
 'GRAND VITARA',
 '207 HATCHBACK',
 'CORSA',
 'COROLLA',
 'I25 ACCENT',
 'ONIX HATCHBACK',
 'TWINGO',
 '323',
 'PICANTO',
 'DUSTER',
 'ECOSPORT',
 'I25 ACCENT',
 '3',
 'CLIO',
 'RIO',
 'CAPTIVA',
 'Clase C',
 'LOGAN',
 'GOLF',
 'Q3',
 'SPARK ACTIV',
 'CORSA',
 'TRACKER',
 'RANGER',
 'EXCEL',
 'CLIO',
 'ECOSPORT',
 'X1',
 'SAIL SEDAN',
 '323',
 'GIULIETTA',
 'SONIC SEDAN',
 'QASHQAI',
 'SPORTAGE',
 'HILUX',
 'CRV',
 'SPORTAGE',
 'CAPTIVA',
 'A1',
 'COROLLA',
 'MARCH',
 'FIESTA',
 'SANDERO',
 'Otros Modelos',
 'MARCH',
 'SANTA FE',
 '3',
 'GRAND WAGONEER',
 'LAND CRUISER',
 'SONIC',
 'H100',
 'TRACKER',
 '3 HATCHBACK',
 'COROLLA',
 'EXPLORER',
 'LJ',
 'GRAND CHEROKEE',
 'Spark GT',
 'OUTLANDER',
 'AVEO',
 'SAIL SEDAN',
 'JETTA',
 'Otro',
 'MARCH',
 'RAV4',
 'DUSTER',
 '2013',
 'PICANTO',
 'KWID',
 'TUCSON',
 'D21',
 'LOGAN',
 'GRAND VITARA',
 'DUSTER',
 'FUSION',
 'CX5',
 'LOGAN',
 'S칠rie 3',
 'GRAND VITARA',
 'TWINGO',
 'RIO',
 'PICANTO',
 'FRONTIER',
 'STEPWAY',
 'PICANTO',
 'SAIL SEDAN',
 'AVEO SEDAN',
 '2',
 'S-CROSS',
 'ESCAPE',
 'CLA 200',
 'AVEO',
 'GETZ',
 'COOPER',
 'PICANTO',
 '3',
 'FRONTIER',
 'ECOSPORT',
 'SORENTO',
 'R4 ',
 '3 HATCHBACK',
 'TEMPRA',
 '2 HATCHBACK',
 '5',
 'L300',
 'Q7',
 'DUSTER',
 'ACCENT',
 'SAIL SEDAN',
 'MONTERO',
 'Willys',
 'ALLEGRO SEDAN',
 'KWID',
 'RENEGADE',
 'GRAND VITARA',
 '4RUNNER',
 'X-TRAIL',
 'Stylus',
 'FORTUNER',
 'OPTRA SEDAN',
 'AVEO',
 'SAIL SEDAN',
 'Spark GT',
 'EXPLORER',
 'STEPWAY',
 'STEPWAY',
 'SPARK',
 'CERATO FORTE SEDAN',
 'Spark GT',
 'DUSTER OROCH',
 'RAV4',
 'HILUX',
 'SYMBOL FII',
 'Spark GT',
 'RIO SEDAN',
 'FUSION',
 'GRAND VITARA',
 'PILOT',
 'Spark GT',
 'AVEO',
 'RANGE ROVER EVOQUE',
 'X-TRAIL',
 'XC90 HIBRIDA',
 'SONIC SEDAN',
 'R4 ',
 'TWINGO',
 'AVEO COUPE',
 '120i',
 'PREGIO',
 'FORTUNER',
 'OPTRA SEDAN',
 'Otros Modelos',
 'RACER',
 'FRONTIER',
 'FORTUNER',
 'TRACKER',
 'TRACKER',
 'CERATO PRO SEDAN',
 'D21',
 'MARCH',
 'AVEO SEDAN',
 'SPARK',
 'URVAN',
 'SAIL HATCHBACK',
 'LAND CRUISER',
 '626',
 'FIESTA',
 'PRADO',
 'EDGE',
 'Stylus',
 'EXPLORER',
 'STEPWAY',
 'PICANTO']

In [703]:
resto = []
for i in range(0, len(df)):
    try:
        if df["parameters"][i][1]["key"] == "model":
            resto.append(df["parameters"][i][1].get("value_name"))
        else:
            resto.append("Otros")
    except:
        resto.append("Otros")
df["Model"] = resto

In [705]:
a침os = []
for i in range(0, len(df)):
    try:
        if df["parameters"][i][3]["key"] == "year":
            a침os.append(df["parameters"][i][3].get("value_name"))
        else:
            a침os.append("Otros a침os")
    except:
        a침os.append("Otros ")
df["a침os"] = a침os

In [812]:
kilo = []
for i in range(0, len(df)):
    try:
        if df["parameters"][i][4]["key"] == "mileage":
            kilo.append(df["parameters"][i][4].get("value_name"))
        else:
            kilo.append("Otros kilometrajes")
    except:
        kilo.append("Otros kilometrajes")
df["kilometraje"] = kilo

In [717]:
cond = []
for i in range(0, len(df)):
    try:
        if df["parameters"][i][5]["key"] == "condition":
            cond.append(df["parameters"][i][5].get("value_name"))
        else:
            cond.append("Otra condicion")
    except:
        cond.append("Otros ")
df["condicion"] = cond

In [720]:
comb = []
for i in range(0, len(df)):
    try:
        if df["parameters"][i][6]["key"] == "fuel":
            comb.append(df["parameters"][i][6].get("value_name"))
        else:
            comb.append("Otra condicion")
    except:
        comb.append("Otros ")
df["Combustible"] = comb

In [725]:
color = []
for i in range(0, len(df)):
    try:
        if df["parameters"][i][7]["key"] == "color":
            color.append(df["parameters"][i][7].get("value_name"))
        else:
            color.append("Otro color")
    except:
        color.append("Otros ")
df["Color"] = color

In [728]:
Transmisi칩n = []
for i in range(0, len(df)):
    try:
        if df["parameters"][i][8]["key"] == "vehicletransmission":
            Transmisi칩n.append(df["parameters"][i][8].get("value_name"))
        else:
            Transmisi칩n.append("Otro transmision")
    except:
        Transmisi칩n.append("Otros ")
df["Transmision"] = Transmisi칩n

In [884]:
puertas = []
for i in range(0, len(df)):
    try:
        if df["parameters"][i][9]["key"] == "doors":
            puertas.append(df["parameters"][i][9].get("value_name"))
        else:
            puertas.append("Otro valor")
    except:
        puertas.append("Otro")
puertas #df["Puertas"] = puertas

['Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro',
 'Otro']

In [758]:
for i in df["price"]:
    j = i.replace('$', '')
    j = j.replace('.', '')
    j = int(j)
df["price"] = j

In [761]:
df

,id,score,description,title,price,images,parameters,Marca,Model,a침os,kilometraje,condicion,Combustible,Color,Transmision,Puertas
0,1109806284,1.000,Vencambio Renault alaskan 2019 refull turbo di...,Vencambio Renault alaskan 2019 refull turbo di...,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",RENAULT,ALASKAN,2019,55000,Usado,Diesel,Blanco,Mec치nica,5
1,1114606689,0.998,"Veh칤culo listo para traspasos, con entrega inm...",Renault Duster dynamique 2014 autom치tico,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",RENAULT,DUSTER,2014,88000,Usado,Gasolina,Blanco,Autom치tica,5
2,1114417052,0.996,"Full equipo,documentos al dia,con peritaje de ...",Kia Rio stylus 2015 damos cr칠dito cuotas de $5...,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",KIA,Stylus,Otros a침os,120000,Usado,Otra condicion,Otro color,Otro transmision,Otro valor
3,1114635309,0.994,M치s sobre el veh칤culo:\nEn OLX Autos compras v...,MERCEDES BENZ A 200 V177 Sport Sedan TP 1.3L T...,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",MERCEDES BENZ,A 200,Otros a침os,21980,Usado,Gasolina,Plateado,Mec치nica,4
4,1114809715,0.992,Totalmente original,Como nuevo,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",MAZDA,2 HATCHBACK,Otros a침os,67000,Usado,Gasolina,Blanco,Autom치tica Secuencial,Otro valor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1114321799,0.010,BOYACARS la tienda del usado\n\n- Excelente es...,Ford Edge 2014 Limited Como nueva,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",FORD,EDGE,Otros a침os,73000,Usado,Gasolina,Gris,Autom치tica Secuencial,5
496,1114380850,0.008,BOYACARS la tienda del usado\n\n- Excelente es...,KIA RIO STYLUS 2015 1.5 AIRE ACONDICIONADO DIR...,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",KIA,Stylus,Otros a침os,59000,Usado,Gasolina,Plateado,Mec치nica,4
497,1114380994,0.006,BOYACARS la tienda del usado\n\n- Excelente es...,FORD EXPLORER LIMITED COMO NUEVA PERFECTA,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",FORD,EXPLORER,Otros a침os,51000,Usado,Gasolina,Plateado,Autom치tica Secuencial,5
498,1113627801,0.004,Renault Sandero stepway 2012 - 칔nico due침o - s...,Vendo Renault Sandero stepway,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",RENAULT,STEPWAY,2012,95000,Usado,Gasolina,Negro,Mec치nica,4
499,1114381129,0.002,BOYACARS la tienda del usado\n\n- Excelente es...,KIA PICANTO MT ZENITH 칔NICO DUE칌O COMO NUEVO,54000000,https://apollo-virginia.akamaized.net:443/v1/f...,"[{'type': 'single', 'key': 'make', 'value_name...",KIA,PICANTO,Otros a침os,13000,Usado,Gasolina,Blanco,Mec치nica,5

In [763]:
new_df = pd.DataFrame(carros_totales)

In [778]:
new_price = []
for i in range(0, len(new_df)):
    new_price.append(new_df["price"][i]["value"]["raw"])
df["price"] = new_price

In [853]:
kilometraje = []
for i in range(0, len(new_df)):
    try:
        if new_df["parameters"][i][4]["key"] == "mileage":
            kilometraje.append(new_df["parameters"][i][4].get("value"))
        else:
            kilometraje.append("Otros kilometrajes")
    except:
        kilometraje.append("Otros kilometrajes")
df["kilometraje"] = kilometraje

In [825]:
new_df["parameters"][i][4]

{'type': 'single',
 'key': 'mileage',
 'value_name': '13000',
 'value': '13000',
 'key_name': 'Kilometraje',
 'formatted_value': '13.000 km'}

In [885]:
df

,id,score,description,title,price,images,Marca,Model,a침os,kilometraje,condicion,Combustible,Color,Transmision,Puertas
0,1109806284,1.000,Vencambio Renault alaskan 2019 refull turbo di...,Vencambio Renault alaskan 2019 refull turbo di...,119900000.0,https://apollo-virginia.akamaized.net:443/v1/f...,RENAULT,ALASKAN,2019,55000,Usado,Diesel,Blanco,Mec치nica,5
1,1114606689,0.998,"Veh칤culo listo para traspasos, con entrega inm...",Renault Duster dynamique 2014 autom치tico,45900000.0,https://apollo-virginia.akamaized.net:443/v1/f...,RENAULT,DUSTER,2014,88000,Usado,Gasolina,Blanco,Autom치tica,5
2,1114417052,0.996,"Full equipo,documentos al dia,con peritaje de ...",Kia Rio stylus 2015 damos cr칠dito cuotas de $5...,6000000.0,https://apollo-virginia.akamaized.net:443/v1/f...,KIA,Stylus,2015,120000,Usado,Otra condicion,Otro color,Otro transmision,Otro valor
3,1114635309,0.994,M치s sobre el veh칤culo:\nEn OLX Autos compras v...,MERCEDES BENZ A 200 V177 Sport Sedan TP 1.3L T...,115500000.0,https://apollo-virginia.akamaized.net:443/v1/f...,MERCEDES BENZ,A 200,2015,21980,Usado,Gasolina,Plateado,Mec치nica,4
4,1114809715,0.992,Totalmente original,Como nuevo,55000000.0,https://apollo-virginia.akamaized.net:443/v1/f...,MAZDA,2 HATCHBACK,2015,67000,Usado,Gasolina,Blanco,Autom치tica Secuencial,Otro valor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1114321799,0.010,BOYACARS la tienda del usado\n\n- Excelente es...,Ford Edge 2014 Limited Como nueva,74000000.0,https://apollo-virginia.akamaized.net:443/v1/f...,FORD,EDGE,2015,73000,Usado,Gasolina,Gris,Autom치tica Secuencial,5
496,1114380850,0.008,BOYACARS la tienda del usado\n\n- Excelente es...,KIA RIO STYLUS 2015 1.5 AIRE ACONDICIONADO DIR...,28000000.0,https://apollo-virginia.akamaized.net:443/v1/f...,KIA,Stylus,2015,59000,Usado,Gasolina,Plateado,Mec치nica,4
497,1114380994,0.006,BOYACARS la tienda del usado\n\n- Excelente es...,FORD EXPLORER LIMITED COMO NUEVA PERFECTA,132000000.0,https://apollo-virginia.akamaized.net:443/v1/f...,FORD,EXPLORER,2015,51000,Usado,Gasolina,Plateado,Autom치tica Secuencial,5
498,1113627801,0.004,Renault Sandero stepway 2012 - 칔nico due침o - s...,Vendo Renault Sandero stepway,27000000.0,https://apollo-virginia.akamaized.net:443/v1/f...,RENAULT,STEPWAY,2012,95000,Usado,Gasolina,Negro,Mec치nica,4
499,1114381129,0.002,BOYACARS la tienda del usado\n\n- Excelente es...,KIA PICANTO MT ZENITH 칔NICO DUE칌O COMO NUEVO,54000000.0,https://apollo-virginia.akamaized.net:443/v1/f...,KIA,PICANTO,2015,13000,Usado,Gasolina,Blanco,Mec치nica,5

In [886]:
df.describe()

            score         price
count  500.000000  5.000000e+02
mean     0.501000  4.901139e+07
std      0.288964  3.905240e+07
min      0.002000  1.000000e+06
25%      0.251500  2.587500e+07
50%      0.501000  3.950000e+07
75%      0.750500  5.892500e+07
max      1.000000  3.230000e+08

In [792]:
import statistics as stat
#df["a침os"].replace(["Otros a침os"], [stat.mode(df["a침os"])])
moda = []
for i in df["a침os"]:
    if i != "Otros a침os":
        moda.append(i)
moda = stat.mode(moda)

In [794]:
df["a침os"] = df["a침os"].replace(["Otros a침os"], moda)

In [867]:
promedio = []
for i in df["kilometraje"]:
    try:
        if i != "Otros kilometrajes":
            promedio.append(int(i))
    except:
        pass
promedio = stat.mean(promedio)
promedio = int(promedio)

In [872]:
df["kilometraje"] = df["kilometraje"].replace(["Otros kilometrajes"], promedio)

In [878]:
df["condicion"] = df["condicion"].replace(["Otra condicion"], "Usado")

6. Documento csv oficial para analisis.

In [887]:
df.to_csv("Macth_Cars.csv")